body{
width:500px;
margin: auto;
}
table{
	height:50px;
border-color: blue;
width:500px;
background-color: lightblue;
}
#box{
text-transform: uppercase;
text-align: center;

}
#para{
text-transform: uppercase;
text-align: center;
}